<!-- Main-body: changes with Handlebars -->
<div class="main-body container">
  <div class="row justify-content-center">
    <p class="col-4 fridgefacep mb-0">
      WHY NO FOOD
    </p>
    <p class="col-4 fridgefacep px-0 mb-0">
      Click 'Menu' and 'New Grocery!'
    </p>
  <div class="w-100"></div>
    <img src="public/angry.PNG" class="col-4 fridgeface">
    <img src="public/cry.PNG" class="col-4 fridgeface">
</div>
